.DS_Store
node_modules
.idea/*
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/auto-install-extensions.js
!.vscode/custom-test-react.code-snippets
.next
.nx
.cache
.stylelintcache
.eslintcache
junit.xml
junit.*.xml
build
dist
certs/dev.*
coverage
!.idea/runConfigurations/*
!.idea
codeQuality.json
.idea/pink.iml
.idea/codeStyles/codeStyleConfig.xml
config/pubsubKey.json
.idea/dictionaries
.idea/compiler.xml
.idea/stylesheetLinters/*
.favorites.json
tsconfig.tsbuildinfo
tsconfig.*.tsbuildinfo
/packages/**/package-lock.json
/packages/scripts/devConstants.js
.tmp
.lighthouseci
temp-changeset.json
.zed
.env
vectorStore

# Added by Claude Task Master
.cursor/
# Task files
tasks.json
.taskmaster
CLAUDE.md
.github/instructions/nx.instructions.md
